
.main {
    min-height: 100vh;

}
.com{
    background-image: url("https://images.unsplash.com/photo-1602810318383-e386cc2a3ccf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3450&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 800px;
    width: 70%;
    margin: auto;
    color: white;
}

.entries{
    text-decoration: underline;
    color: #cd031d;
}

.info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top:50%;
    width: 50%;
    justify-content: center;
}

.login{
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    margin: auto;
    width: 70%;
    height: 800px;
    justify-content: center;
}

.register{
    background-image: url("https://images.unsplash.com/photo-1560508180-03f285f67ded?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=4500&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70%;
    justify-content: center;
}
.enjoy{
    position: relative;
    bottom: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top:50%;
    width: 50%;
    padding: 20px;
    font-family: cursive;

}
.login-form{
    margin-top: 10%;
}
a:hover{
    color: #61dafb;
}

.btn-btn-primary{
    background-color: #61dafb;
    position: absolute;
}
.news-container{
    display: flex;
    flex: border-box;
    padding: 30px;
    background-color: #ECEBE9;
    width: 70%;
    margin: auto;
}

.news{
    background-color: white;
    border-radius: 10px;
    flex: 1 0 33%;
    width: 10%;
    padding: 20px;
    margin: 5px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%
}